.navbar{
    padding: 15px 0;
    background-color: rgba(251, 251, 253, .5);
    width: 100%;
    position: fixed;
    backdrop-filter: blur(13px);
    z-index: 9999999;

    &-items{
        @include flex(center, space-between);
    }

    &-title{
        @include adaptive-value('font-size', 22, 20);
        font-weight: 600;
        font-style: normal;
    }

    &-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: contain;
    }

    &-logo{
        font-weight: 600;
        @include adaptive-value('font-size', 25, 18)
    }
}