.icloud{
    background-color: #0071eb;
    height: 100%;
    width: 100%;
    padding-bottom: 150px;

    &-box1{
        padding-top: 120px;
        @include flex(center, center);
        gap: 20px;
        @media screen and (max-width: 700px){
            flex-wrap: wrap;
        }
    }

    &-box2{
        padding-top: 30px;
        @include flex(center, center);
        gap: 20px;
        @media screen and (max-width: 700px){
            flex-wrap: wrap;
        }
    }

    &-image{
        @include adaptive-value('width', 115, 100);
        border-radius: 50%;
    }

    &-min_card{
        backdrop-filter: blur(15px) saturate(86%);
        background: radial-gradient(circle at 100% 0, hsla(0, 0%, 100%, .85) 0, hsla(0, 0%, 96.1%, .13) 183%);
        width: 300px;
        padding:  30px 30px;
        border-radius: 16px;
        height: 315px;
        cursor: pointer;
    }

    &-min{
        width: 300px;
        border-radius: 16px;
        height: 315px;
        background-color: white;
        cursor: pointer;
    }

    &-max-card{
        width: 660px;
        background-color: #fff;
        border-radius: 16px;
        height: 315px;

        @media screen and (max-width: 1050px){
            width: 300px;
        }
    }

    &-name{
        font-family: SF Pro Display, Helvetica Neue, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: .13px;
        padding-top: 20px;
    }

    &-email{
        color: rgba(0, 0, 0, .56);
        font-family: SF Pro Text, Helvetica Neue, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        -webkit-margin-before: 5px;
        margin-block-start: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: .7;
        letter-spacing: -.27px;
        color: inherit;
        line-height: 20px;
        margin-top: 5px;
        padding-bottom: 20px;
    }

    &-title{
        font-family: SF Pro Text, Helvetica Neue, sans-serif;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: .23px;
        line-height: 21px;
    }

    &-card_navbar{
        background-color: #dceefd;
        @include flex(center, space-between);
        height: 80px;
        padding: 0 20px;
        border-radius: 16px 16px 0 0;
    }

    &-card_items{
        @include flex(center, unset) ;
        gap: 20px
    }

    &-mission{
        @include flex(center, unset);
        gap: 5px;
    }

    &-card_name{
        font-family: SF Pro Display, Helvetica Neue, sans-serif;
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        color: rgba(0, 0, 0, .88);
    }

    &-card_subtitle{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, .56);
    }

    &-drive{
        width: 40px;
        height: 40px;
    }

    &-info{
        @include flex(center, center);
        gap: 10px;
    }

    &-apps{
        width: 660px;
        border-radius: 16px;
        background-color: hsla(0, 0%, 100%, .3);
        -webkit-backdrop-filter: blur(15px) saturate(86%);
        backdrop-filter: blur(15px) saturate(86%);
        padding: 30px;
        margin-left: 167px;
        margin-top: 30px;

        @media screen and (max-width: 1350px){
            @include flex(center, center);
            width: 100%;
            margin: 50px auto;
        }
    }

    &-app_image{
        width: 70px;
        height: 70px;
        border-radius: 12px
    }

    &-app_link{
        @include flex(center, center);
        flex-direction: column;
        gap: 15px;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.1)
        }
    }

    &-app{
        @include flex(start, start);
        flex-wrap: wrap;
        gap: 40px;
        @media screen and (max-width: 1350px){
            @include flex(center, center);
            gap: 50px;
        }
    }

    &-app_name{
        color: rgba(0, 0, 0, .88);
        font-family: SF Pro Text, Helvetica Neue, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}
